body {
    background-color: rgb(114, 216, 207);
}
#btsair {
    margin-left: 5px;
}
#btconfg {
    margin-left: 700px;
}
#sizefont {
    font-size: 15px;
    width: 200px;
}
#dpc {
    background-color: white;
    padding: 20px;
    width: 900px;
    height: 560px;
    margin-top: 120px;
    border-style: solid;
}
#form1 {
    width:800px;
}
select {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
option {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
textarea {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}