body {
    background-color: rgb(114, 216, 207);
}
#dpc {
    background-color: white;
    padding: 20px;
    width: 500px;
    height: 350px;
    margin-top: 120px;
    border-style: solid;
}
#form1 {
    width:400px;
}
input {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
select {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
option {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}