body {
    background-color: rgb(114, 216, 207);
}
#btsair {
    margin-left: 5px;
}
#btconfg {
    margin-left: 700px;
}
#sizefont {
    font-size: 15px;
    width: 200px;
}
#dpc {
    background-color: white;
    padding: 20px;
    width: 1200px;
    height: 1000px;
    margin-top: 120px;
    margin-bottom: 200px;
    border-style: solid;
}
#filanalista {
    height: 400px;
    overflow: auto;
}
#filageral {
    height: 400px;
    overflow: auto;
}
#titulo {
    text-align: center;
    border-style: solid;
}