body {
    background-color: rgb(114, 216, 207);
}
#dlcad {
    margin-top: 25px;
    margin-left: 190px;
}
#lrs {
    margin-top: 95px;
}
#p1 {
    margin-top: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: serif;
}
#logo {
    display: inline-block;
    height: 100px;
    width: 400px;
}
#dpc {
    background-color: white;
    padding: 20px;
    width: 750px;
    height: 325px;
    margin-top: 200px;
    margin-left: 370px;
    border-style: solid;
}
input {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}